<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pawnee Public Library</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <link rel="icon" href="img/favicon.ico">
</head>

<body class="container-fluid">


    <!-- Bootstrap navbar -->
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="">
            <img src="img/logo-circle.png" width="40" height="40" class="d-inline-block align-top" alt="">
            Pawnee Public Library
        </a>
    </nav>



    {{{body}}}

    <footer class="small">
        &copy;2022 Hope Asher. Logo source
        <a href="https://commons.wikimedia.org/wiki/File:Book-icon-bible.png">AlekseyP8</a>,
        <a href="https://creativecommons.org/licenses/by-sa/4.0">CC BY-SA 4.0</a>, via Wikimedia Commons
    </footer>

</body>

</html>