<h2> Register</h2>


<!--Login form-->
<form action="/register" method="POST">
    <div class="form-group">
        <label for="first">First Name</label>
        <input type="text" class="form-control" id="first" name="first" placeholder="First" required>
    </div>
    <div class="form-group">
        <label for="last">Last Name</label>
        <input type="text" class="form-control" id="last" name="last" placeholder="Last" required>
    </div>
    <div class="form-group">
        <label for="email">Email (this will be your username)</label>
        <input type="email" class="form-control" id="email" name="email" placeholder="Email" required>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" name="password" placeholder="Password" required>
    </div>
    <div class="form-group">
        <label for="confirm">Confirm Password</label>
        <input type="password" class="form-control" id="confirm" name="confirm" placeholder="Password" required>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
    <div class="form-group">
        Already have an account? <a href="/login">Login</a>
    </div>
</form>